basePath: /
definitions:
  model.Driver:
    properties:
      carBrand:
        type: string
      carModel:
        type: string
      createdAt:
        type: string
      firstName:
        type: string
      id:
        type: string
      lastName:
        type: string
      lat:
        type: number
      lon:
        type: number
      plate:
        type: string
      taxiType:
        type: string
      updatedAt:
        type: string
    type: object
host: localhost:8081
info:
  contact: {}
  description: Driver management service for TaxiHub system
  title: Bitaksi TaxiHub Driver Service API
  version: "1.0"
paths:
  /drivers:
    get:
      consumes:
      - application/json
      description: Get a paginated list of all drivers
      parameters:
      - default: 1
        description: Page number
        in: query
        name: page
        type: integer
      - default: 20
        description: Page size
        in: query
        name: pageSize
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Driver'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: List all drivers
      tags:
      - drivers
    post:
      consumes:
      - application/json
      description: Register a new driver in the system
      parameters:
      - description: Driver data
        in: body
        name: driver
        required: true
        schema:
          $ref: '#/definitions/model.Driver'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/model.Driver'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Create a new driver
      tags:
      - drivers
  /drivers/{id}:
    put:
      consumes:
      - application/json
      description: Update driver information by ID
      parameters:
      - description: Driver ID
        in: path
        name: id
        required: true
        type: string
      - description: Driver data
        in: body
        name: driver
        required: true
        schema:
          $ref: '#/definitions/model.Driver'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Driver'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Update a driver
      tags:
      - drivers
  /drivers/nearby:
    get:
      consumes:
      - application/json
      description: Find drivers within 6km radius of given coordinates
      parameters:
      - description: Latitude
        in: query
        name: lat
        required: true
        type: number
      - description: Longitude
        in: query
        name: lon
        required: true
        type: number
      - description: Taxi type filter
        in: query
        name: taxiType
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Driver'
            type: array
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Find nearby drivers
      tags:
      - drivers
swagger: "2.0"
